/******* Globale Einstellung ******/
 
html,body {
            height: 100%;
            width: 100%;
            margin: 0;
            
}
 
.startseite { 
        padding-top: 5vh;
}
* {
    box-sizing: border-box;
    #outline: 1px solid black;
}
/* 
.farbe {
    background-color: red;
}
 
*/
button {
    background: transparent;
    border: none;
}
 
/* ich bin das Raster **/
.h10 {height: 10vh;}
.h15 {height: 15vh;}
.h20 {height: 20vh;}
.h30 {height: 30vh;}
.h40 {height: 40vh;}
.h50 {height: 50vh;}
.h70 {height: 70vh;}
.h100 {height: 100vh;}
.w100 {width: 100vw;}
.w50 {width: 50vw;}
.w20 {width: 20vw;}
.w10 {width: 10vw;}
 
.icon {
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: 98% center;
}
 
 
.arrow-r {
    background-image: url(img/pfeilr.png);
}
 
 
 
 
 
 
 
/******* End of Globale Einstellung ******/
 
/**** stlye für die Home ****/
 
 
.home {
    background-color: #e3858d;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
}

.wortmarke {
    background-image: url(../svg/wortmarke.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    #background-position: center center;
    padding-top: 20%;
    
}

.arrow {
    background-image: url(../svg/pfeil.svg);
    background-size: 30% 30%;
    background-repeat: no-repeat;
    background-position: center center;
}

.homelogo {
    background-image: url(../svg/geralogo2.svg);
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center center;
}

